footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.container {
    display: grid;
    grid-gap: 5px;
}

/* Estructura Tablero */
.tablero {
    /* background-color: rgba(86, 61, 124, .15); */
    border: 1px dashed black;
    text-align: center;
}

.title {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 26px;
    font-weight: bold;
}

.all-tableros {
    margin-left: 15px;
    margin-right: 15px;
}

/* Gauge */
.contenedor {
    position: relative;
    overflow: hidden;
    text-align: center;
    transform: translate(-50%);
    width: 400px;
    height: 200px;
    left: 50%;
}

.gauge-a {
    z-index: 1;
    position: absolute;
    background-color: rgb(183, 178, 178);
    width: 400px;
    height: 200px;
    top: 0%;
    border-radius: 250px 250px 0px 0px;
}

.gauge-b {
    z-index: 3;
    position: absolute;
    background-color: #444;
    width: 250px;
    height: 125px;
    top: 75px;
    margin-left: 75px;
    margin-right: auto;
    border-radius: 250px 250px 0px 0px;
}

.gauge-c {
    z-index: 2;
    position: absolute;
    background-color: #e91e64;
    width: 400px;
    height: 200px;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 200px 200px;
    transform-origin: center top;
    transition: all 1.3s ease-in-out;
}

.contenedor:hover .gauge-data {
    color: rgba(255, 255, 255, 1);
}

.gauge-data {
    z-index: 4;
    color: rgba(255, 255, 255, 0.2);
    font-size: 1.5em;
    line-height: 25px;
    position: absolute;
    width: 400px;
    height: 200px;
    top: 120px;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s ease-out;
}

/* END Gauge */

/* Compas */
h1>span {
    font: 16px Monaco, MonoSpace;
    height: 200px;
    position: absolute;
    width: 20px;
    left: 600px;
    top: 50px;
    transform-origin: bottom center;
}

#square {
    width: 100px;
    height: 100px;
    left: 560px;
    top: 170px;
    background: red;
    z-index: -2;
    position: relative;
}

#pentagon {
    position: relative;
    width: 54px;
    box-sizing: content-box;
    border-width: 70px 18px 0;
    border-style: solid;
    border-color: black transparent;
    top: 225px;
    left: 563px;
}

#pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -110px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent black;
}

/* Extra small devices (portrait phones, less than 576px)  */
@media (max-width: 575.98px) {
    .compas {
        position: relative;
        right: 26%;
        top: -25px;
        margin-bottom: -60px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .compas {
        position: relative;
        right: 63%;
        top: -25px;
        margin-bottom: -60px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .compas {
        position: relative;
        right: 81%;
        top: -25px;
        margin-bottom: -60px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .compas {
        position: relative;
        right: 67%;
        top: -25px;
        margin-bottom: -60px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .compas {
        position: relative;
        right: 39%;
        top: -25px;
        margin-bottom: -60px;
    }
}

.arrow-up.icon {
    color: #000;
    position: absolute;
    margin-left: 610px;
    margin-top: 3px;
    width: 1px;
    height: 16px;
    background-color: currentColor;
    top: 105px;
}

.arrow-up.icon:before {
    content: '';
    position: absolute;
    left: -5px;
    top: 1px;
    width: 10px;
    height: 10px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.vent {
    color: red;
    position: absolute;
    margin-left: 12px;
    margin-top: 70px;
    width: 8px;
    height: 35px;
    background-color: currentColor;
}

.vent:before {
    content: '';
    position: absolute;
    left: -8px;
    top: 9px;
    width: 24px;
    height: 24px;
    border-top: solid 7px currentColor;
    border-right: solid 7px currentColor;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

#texto {
    color: red;
}

.transparent-circle {
    position: relative;
    background-color: rgba(204, 0, 102, 0);
    border: 2px dashed #000;
    height: 450px;
    width: 450px;
    border-radius: 250px;
    left: 386px;
    top: -50px;
}

.direction {
    position: relative;
    top: 31px;
    right: 30px;
}

.grade {
    z-index: -1;
}

.grade-vent {
    z-index: -2;
}

/* END Compas */

/* Historique */
.graph .labels.x-labels {
    text-anchor: middle;
}

.graph .labels.y-labels {
    text-anchor: end;
}

/* Extra small devices (portrait phones, less than 576px)  */
@media (max-width: 575.98px) {
    .graph {
        position: relative;
        height: 500px;
        width: 800px;
        left: 12%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .graph {
        position: relative;
        height: 500px;
        width: 800px;
        left: -1%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .graph {
        position: relative;
        height: 500px;
        width: 800px;
        left: -3%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .graph {
        position: relative;
        height: 500px;
        width: 800px;
        left: 2%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .graph {
        position: relative;
        height: 500px;
        width: 800px;
        left: 6%;
    }
}

.graph .grid {
    stroke: #ccc;
    stroke-dasharray: 0;
    stroke-width: 1;
}

.labels {
    font-size: 13px;
}

.label-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    fill: black;
}

.data {
    fill: red;
    stroke-width: 1;
}

/* END Historique */