footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.container {
    display: grid;
    grid-gap: 5px;
}

/* Estructura Tablero */
.tablero {
    border: none;
    background-color: #f6f6f6;
    padding-top: 40px;
    margin-bottom: 15px;
}

.title {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 26px;
    font-weight: bold;
}

.all-tableros {
    margin: 0 auto;
}

/* Gauge */
.contenedor {
    position: relative;
    overflow: hidden;
    text-align: center;
    transform: translate(-50%);
}

.gauge-a {
    z-index: 1;
    position: absolute;
    background-color: rgb(183, 178, 178);
    top: 0%;
    border-radius: 250px 250px 0px 0px;
}

.gauge-b {
    z-index: 3;
    position: absolute;
    background-color: #444;
    margin-right: auto;
    border-radius: 250px 250px 0px 0px;
}

.gauge-c {
    z-index: 2;
    position: absolute;
    background-color: #e91e64;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 200px 200px;
    transform-origin: center top;
    transition: all 1.3s ease-in-out;
}

.contenedor:hover .gauge-data {
    color: rgba(255, 255, 255, 1);
}

.gauge-data {
    z-index: 4;
    color: rgba(255, 255, 255, 0.2);
    font-size: 1.5em;
    line-height: 25px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s ease-out;
}

/* Extra small devices (portrait phones, less than 576px)  */
@media (max-width: 575.98px) {
    .contenedor {
        height: 140px;
        left: 54%;
    }

    .gauge-a {
        width: 280px;
        height: 140px;
        top: 0%;
    }

    .gauge-b {
        width: 175px;
        height: 87.5px;
        top: 38%;
        margin-left: 15.5%;
    }

    .gauge-c {
        width: 280px;
        height: 140px;
        top: 140px;
    }

    .gauge-data {
        width: 40%;
        top: 59%;
        left: 22%;
    }

    .gauge-data h1 {
        font-size: 1.5em !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .contenedor {
        height: 200px;
        left: 60%;
    }

    .gauge-a {
        width: 400px;
        height: 200px;
        top: 0%;
    }

    .gauge-b {
        width: 250px;
        height: 125px;
        top: 38%;
        margin-left: 14%;
    }

    .gauge-c {
        width: 400px;
        height: 200px;
        top: 200px;
    }

    .gauge-data {
        width: 40%;
        top: 64%;
        left: 22%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .contenedor {
        height: 200px;
        left: 60%;
    }

    .gauge-a {
        width: 400px;
        height: 200px;
        top: 0%;
    }

    .gauge-b {
        width: 250px;
        height: 125px;
        top: 38%;
        margin-left: 16%;
    }

    .gauge-c {
        width: 400px;
        height: 200px;
        top: 200px;
    }

    .gauge-data {
        width: 40%;
        top: 64%;
        left: 21%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .contenedor {
        height: 200px;
        left: 63%;
    }

    .gauge-a {
        width: 400px;
        height: 200px;
        top: 0%;
    }

    .gauge-b {
        width: 250px;
        height: 125px;
        top: 38%;
        margin-left: 13%;
    }

    .gauge-c {
        width: 400px;
        height: 200px;
        top: 200px;
    }

    .gauge-data {
        width: 40%;
        top: 64%;
        left: 15%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .contenedor {
        height: 200px;
        left: 68%;
    }

    .gauge-a {
        width: 400px;
        height: 200px;
        top: 0%;
    }

    .gauge-b {
        width: 250px;
        height: 125px;
        top: 38%;
        margin-left: 11%;
    }

    .gauge-c {
        width: 400px;
        height: 200px;
        top: 200px;
    }

    .gauge-data {
        width: 40%;
        top: 64%;
        left: 9%;
    }
}

/* END Gauge */

/* Compas */
h1 > span {
    font: 16px Monaco, MonoSpace;
    height: 200px;
    position: absolute;
    width: 20px;
    left: 600px;
    top: 50px;
    transform-origin: bottom center;
}

#square {
    width: 100px;
    height: 100px;
    left: 560px;
    top: 170px;
    background: red;
    z-index: -2;
    position: relative;
}

#pentagon {
    position: relative;
    width: 54px;
    box-sizing: content-box;
    border-width: 70px 18px 0;
    border-style: solid;
    border-color: black transparent;
    top: 225px;
    left: 569px;
}

#pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -110px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent black;
}

.compas {
    position: relative;
    margin-bottom: -60px;
}

.arrow-up.icon {
    color: #000;
    position: absolute;
    margin-left: 616px;
    margin-top: 3px;
    width: 1px;
    height: 16px;
    background-color: currentColor;
    top: 105px;
}

.arrow-up.icon:before {
    content: '';
    position: absolute;
    left: -5px;
    top: 1px;
    width: 10px;
    height: 10px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.vent {
    color: red;
    position: absolute;
    margin-left: 12px;
    margin-top: 70px;
    width: 8px;
    height: 35px;
    background-color: currentColor;
}

.vent:before {
    content: '';
    position: absolute;
    left: -8px;
    top: 9px;
    width: 24px;
    height: 24px;
    border-top: solid 7px currentColor;
    border-right: solid 7px currentColor;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

#texto {
    color: red;
}

.transparent-circle {
    position: relative;
    background-color: rgba(204, 0, 102, 0);
    border: 2px dashed #000;
    height: 450px;
    width: 450px;
    border-radius: 250px;
    left: 386px;
    top: -50px;
}

.direction {
    position: relative;
    top: 31px;
    right: 30px;
}

.grade {
    z-index: -1;
}

.grade-vent {
    z-index: -2;
}

/* Extra small devices (portrait phones, less than 576px)  */
@media (max-width: 575.98px) {
    .compas {
        right: 75%;
        top: -14px;
    }

    .transparent-circle {
        height: 300px;
        width: 300px;
        border-radius: 250px;
        left: 257px;
        top: -36px;
    }

    #pentagon {
        position: relative;
        width: 36px;
        box-sizing: content-box;
        border-width: 46px 12px 0;
        top: 148px;
        left: 376px;
    }

    #pentagon:before {
        height: 0;
        width: 0;
        top: -73px;
        left: -12px;
        border-width: 0 30px 23px;
        border-style: solid;
        border-color: transparent transparent black;
    }

    h1 > span {
        font: 12px Monaco, MonoSpace;
        width: 13px;
        left: 400px;
        top: 33px;
        transform-origin: bottom center;
        height: 130px;
    }

    .arrow-up.icon {
        margin-left: 406px;
        margin-top: 2px;
        width: 1px;
        height: 14px;
        top: 70px;
    }

    .arrow-up.icon:before {
        left: -5px;
        top: 1px;
        width: 10px;
        height: 10px;
    }

    .direction {
        position: relative;
        top: 20px;
        right: 30px;
        font-size: 0.9rem;
    }

    .vent {
        margin-left: 4px;
        margin-top: 47px;
        width: 3px;
        height: 23px;
    }

    .vent:before {
        left: -6px;
        top: 6px;
        width: 16px;
        height: 16px;
        border-top: solid 3px currentColor;
        border-right: solid 3px currentColor;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .compas {
        right: 67%;
        top: -6px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .compas {
        right: 80%;
        top: -25px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .compas {
        right: 57%;
        top: -25px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .compas {
        right: 40%;
        top: -15px;
    }
}

/* END Compas */

/* Historique */
.graph .labels.x-labels {
    text-anchor: middle;
}

.graph .labels.y-labels {
    text-anchor: end;
}

/* Extra small devices (portrait phones, less than 576px)  */
@media (max-width: 575.98px) {
    .graph {
        position: relative;
        height: 325px;
        width: 300px;
        left: -3%;
        margin-bottom: 10%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .graph {
        position: relative;
        height: 500px;
        width: 500px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .graph {
        position: relative;
        height: 500px;
        width: 800px;
        left: -2%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .graph {
        position: relative;
        height: 500px;
        width: 800px;
        left: 2%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .graph {
        position: relative;
        height: 500px;
        width: 800px;
        left: 10%;
    }
}

.graph .grid {
    stroke: #ccc;
    stroke-dasharray: 0;
    stroke-width: 1;
}

.labels {
    font-size: 13px;
}

.label-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    fill: black;
}

.data {
    fill: red;
    stroke-width: 1;
}

/* END Historique */
