.contenedor {
  position: relative;
  overflow: hidden;
  text-align: center;
  transform: translate(-50%);
}

.gauge-a {
  z-index: 1;
  position: absolute;
  background-color: rgb(183, 178, 178);
  top: 0%;
  border-radius: 250px 250px 0px 0px;
}

.gauge-b {
  z-index: 3;
  position: absolute;
  background-color: #444;
  margin-right: auto;
  border-radius: 250px 250px 0px 0px;
}

.gauge-c {
  z-index: 2;
  position: absolute;
  background-color: #e91e64;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 200px 200px;
  transform-origin: center top;

  transition: all 1.3s ease-in-out;
}

.contenedor:hover .gauge-data {
  color: rgba(255, 255, 255, 1);
}

.gauge-data {
  z-index: 4;
  color: rgba(255, 255, 255, 0.2);
  font-size: 1.5em;
  line-height: 25px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s ease-out;
}

/* Extra small devices (portrait phones, less than 576px)  */
@media (max-width: 575.98px) {
  .contenedor {
    height: 140px;
    left: 54%;
  }

  .gauge-a {
    width: 280px;
    height: 140px;
    top: 0%;
  }

  .gauge-b {
    width: 175px;
    height: 87.5px;
    top: 38%;
    margin-left: 16.5%;
  }

  .gauge-c {
    width: 280px;
    height: 140px;
    top: 140px;
  }

  .gauge-data {
    width: 40%;
    top: 39%;
    left: 26%;
  }

  .gauge-data h1 {
    font-size: 1.5em !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .contenedor {
    height: 200px;
    left: 54%;
  }

  .gauge-a {
    width: 400px;
    height: 200px;
    top: 0%;
  }

  .gauge-b {
    width: 250px;
    height: 125px;
    top: 38%;
    margin-left: 15%;
  }

  .gauge-c {
    width: 400px;
    height: 200px;
    top: 200px;
  }

  .gauge-data {
    width: 40%;
    top: 64%;
    left: 22%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .contenedor {
    height: 200px;
    left: 54%;
  }

  .gauge-a {
    width: 400px;
    height: 200px;
    top: 0%;
  }

  .gauge-b {
    width: 250px;
    height: 125px;
    top: 38%;
    margin-left: 17%;
  }

  .gauge-c {
    width: 400px;
    height: 200px;
    top: 200px;
  }

  .gauge-data {
    width: 40%;
    top: 64%;
    left: 26%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .contenedor {
    height: 200px;
    left: 68%;
  }

  .gauge-a {
    width: 400px;
    height: 200px;
    top: 0%;
  }

  .gauge-b {
    width: 250px;
    height: 125px;
    top: 38%;
    margin-left: 13%;
  }

  .gauge-c {
    width: 400px;
    height: 200px;
    top: 200px;
  }

  .gauge-data {
    width: 40%;
    top: 64%;
    left: 15%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .contenedor {
    height: 200px;
    left: 68%;
  }

  .gauge-a {
    width: 400px;
    height: 200px;
    top: 0%;
  }

  .gauge-b {
    width: 250px;
    height: 125px;
    top: 38%;
    margin-left: 11%;
  }

  .gauge-c {
    width: 400px;
    height: 200px;
    top: 200px;
  }

  .gauge-data {
    width: 40%;
    top: 64%;
    left: 9%;
  }
}
