.tablero {
  border: none;
  background-color: #f6f6f6;
  padding-top: 40px;
  margin-bottom: 15px;
}

.title {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 26px;
  font-weight: bold;
}

.all-tableros {
  margin: 0 auto;
}
